<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/pgupta/IdeaProjects/Dataprovidercsv/src/test/java/pac3"><classes><class name="pac3.Orange"><methods><include name="title"/><include name="url"/><include name="links"/><include name="input"/><include name="buttons"/><include name="tbody"/><include name="images"/><include name="windowid"/><include name="getwindowid"/><include name="windowids"/><include name="wi"/></methods></class></classes></test></suite>